
@import "./assets/scss/variables/variables";

// For the styling of the modals
// This holds the content that lives inside of the button where the modal is held

.modal{
	@extend %speed-3ms;
	@extend %display-flex;
	@extend %flex-center-all;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	// For when the modal is shown - when the button is clicked

	&__show{
		opacity: 1;
		visibility: visible;
		pointer-events: auto;

		// Add a subtle animation for when the modal content is shown

		.modal__contain{
			transform: scale(1);
		}
	}

	// For the background of the overlay

	.overlay{
		content: ' ';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($black, 0.8);
		z-index: 0;
	}

	// For the master container of the content within the modal
	// This holds all the custom content within the modal, excluding the title

	&__contain{
		@extend %speed-3ms;
		@extend %display-flex-wrap;
		flex-flow: column;
		position: relative;
		max-width: 750px;
		width: 90%;
		min-height: 400px;
		max-height: 90vh;
		background: $white;
		border-radius: $border-radius-alt;
		overflow: hidden;
		z-index: 1;
		transform: scale(0.9);

		// For the large overlay
		// This size of the modal will take up the entire screen, with a little bit of spacing 
		// On the sides and on the top of the container

		&--large{
			max-width: 95vw;
			width: 95%;
			height: 90vh;
		}

		// For the size of the small modal
		// We will declare the max width of the modal

		&--small{
			max-width: 500px;
		}

		// For changes on mobile - make the overlay full width and height of the container

		@media(max-width: $mobile){
			width: 100vw;
			max-height: 100vh;
			height: 100vh;
			border-radius: 0;
		}
	}

	// For the header of the overlay
	// This is position fixed on the top of the overlay - always with the close button on the right of the container

	&__header{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 12px 0;
		background: none;
		z-index: 9999;

		// For the main content within the header
		// This usually contains just the close button on the right side of the container

		&--content{
			@extend %display-flex-space-between;
			flex-direction: row-reverse;
			position: relative;
			width: 97%;
			margin: 0 auto;
		}

		// Align the button to always be on the right side of the container

		button{
			align-self: flex-end;
		}

		// Change the close button background to always be white
		// So that it can be over any scrollable content

		.btn{
			background: $white;
		}
	} 

	// For the master container of all the main content within the modal
	// This holds the title, and all of the content below the title

	&__content{
		flex: 1;
		width: 90%;
		margin: 0 auto;
		padding: 60px 0 0;
		overflow: scroll;

		// By default the width of this container is 90% 
		// There needs to be support for full-width comps, such as the tab systems, supporting the ability
		// For neutral background in other design conventions

		&--full{
			width: 100%;

			// If full width is the case, the title needs to align to the content below

			.modal__title{
				width: 90%;
				margin: 0 auto;
			}
		}
	}

	// For the title of the overlay
	// This typically is static text but can have a image to the left of the title

	&__title{
		@extend %display-flex;
		@extend %flex-center-vertical;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 16px;
		font-size: $twenty-two;

		// If there is an image within the title
		// This is on the left side of the title that is usually reserved for prescriptions

		&--img{
			width: 60px;
			height: 60px;
			margin-right: 20px;
			border-radius: 50%;
			overflow: hidden;

			// Center the image within the container but takes up the full width and height

			img{
				width: auto;
				height: auto;
				min-width: 100%;
				min-height: 100%;
				max-height: 100%;
				max-width: 100%;
			}
		}
	}

	// If there are tabs within the modal

	.tabs__full .tabs__item{
		max-width: 90%;
	}
}

// This is the alternative modal, for the drawer that comes in from the right
// This more for filter sections and products

.modal__drawer{

	// Change the default positioning for the modal content
	// This will be positioned fixed, on the right side of the screen, with the full height

	.modal__contain{
		position: fixed;
		top: 0;
		right: 0;
		max-height: 100vh;
		height: 100vh;
		width: 375px;
		border-radius: 0;

		// For the container of the buttons on the bottom of the modal container
		// These are generally action buttons that have the ability to advance a user flow or close the modal

		> .btn__contain--right{
			padding: 16px 5%;
			background: $white;
		}
	}

	// Adjust the alignment of the close button within the header of the modal

	.modal__header--content{
		width: 95%;
	}
}
