
@import "../../../scss/variables/variables";

// For the styling of the payment inputs
// This could be for credit card payment or debit card payment

.input{

	// For the master container of the payment fields
	// Contains the card number, date, cvc, and ZIPcode

	&__payment{
		margin-bottom: 20px;

		// For the card on the right side of the container
		// This card changes to match the credit/debit card the user is inputing, as they input it

		&--card{
			@extend %display-flex;
			@extend %flex-center-vertical;
			position: absolute;
			right: 16px;
			width: 36px;

			// For the size of the card within the container

			svg{
				width: 100%;
				height: 100%;
			}
		}

		// Adjust the default spacing of the input and label to make room for the card within the input

		input, label{
			padding-right: 56px;
		}
	}

	// For the container of the 50/50 inputs below the card number
	// This is special styling only for the payment form field

	&__wrap--card-info{
		@extend %display-flex-space-between;

		// Change the size of the input to be half the width, but keeping the spacing between

		.input__contain{
			width: 49%;
		}
	}

	// For the container of the alerts on the bottom of the field
	// This will convey an error if something is wrong within the payment input fields

	&__wrap--payment .input__alert{
		color: $red;
	}
}
