
@import "../../../scss/variables/variables";

// For the global default styling of the buttons
// These are the buttons with a colored background, with text in the center of the button

.wag__comps .btn{
    @extend %speed-3ms;
    @extend %font-bold;
    @extend %display-inline-flex;
    @extend %flex-center-all;
    position: relative;
    min-width: 104px;
    height: 44px;
    padding: 0 20px;
    border-radius: 45px; 
    background: inherit;
    color: $white;
    overflow: hidden;
    font-size: $sixteen;
    cursor: pointer;

    // For the master container of the button

    &__wrap{
        @extend %display-inline-flex;
        @extend %flex-center-vertical;
        position: relative;
    }

    // When the button is clicked, scale it down as the animation

    &:active{
        transform: scale(.8);
    }

    // Buttons do not play nice with display flex in Firefox browser
    // Have to create a seperate container within the button

    span{
        @extend %display-inline-flex;
        @extend %flex-center-horizontal;
        @extend %flex-center-vertical;
        position: relative;
        white-space: nowrap;
        z-index: 1;
    }

    // For the buttons within the icons to the left of the text

    .icon{
        width: 25px;
        min-width: 25px;
        
        &+ span{
            margin-left: 8px;
        }
    }

    // For the circle buttons
    // This button is reserved for icon buttons and should not contain any text

    &__circle{
        padding: 0;
        min-width: auto;
        width: 44px;
        height: 44px;
        border-radius: 50%;

        // Change the default styling of the icons 
        // This is to maintain spacing within a circle button

        .icon{
            min-width: 16px;
            width: 16px;
            height: 16px;
        }

        // For the smaller circle buttons
        // This is used for places such as the calendar component

        &--small{
            width: 36px;
            height: 36px;
        }
    }

     // For the colors of the button
     // For the primary button - should always be blue

     &__blue{
        background: $dark-blue;

        // Change the color to the mid blue on hover

        &:hover{
            background: $blue;
        }
    }

    // For the color of the secondary button

    &__tint-blue{
        background: $tint-blue;
        color: $dark-blue;

        // Change the color to a subtle tint-blue on hover

        &:hover{
            background: #a7dee9;
        }
    }

    // For the color of the white button - should be used on backgrounds

    &__white{
        color: $blue;
        background: $white;

        // Change the color to the neutral on hover

        &:hover{
            background: $neutral;
        }
    }

    // For the color of the Red button - should be used on backgrounds

    &__red{
        color: $white;
        background: $red;

        // Change the color to the neutral on hover

        &:hover{
            background: $dark-red;
        }
    }

    // For the ghost buttons with no background
    // This comes with a hover effect of a light background, that animates in

    &__ghost{
        color: $black;

        // For the circle that animates in on hover
        // This is used in areas of icon buttons
        // You can find an example with the close button within the modal component

        &:before{
            @extend %speed-3ms;
            content: ' ';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: $tint-blue;
            transform: scale(0);
        }

        // Change the color of the icon to be darker blue to align to the other buttons

        &:hover{
            color: $dark-blue;

            // Scale in the circle background on hover

            &:before{
                transform: scale(1);
            }
        }
    }

    // For buttons animations
    // This is neded for buttons that have feedback, this will animate the default text up
    // and animate the feeback text into view

    &__animation{

        .btn{
            min-width: 120px;
        }

        // For the container of the text within te button

        &--text{
            display: block;
            width: 100%;

            // For the individual container of the text

            > span{
                @extend %speed-6ms;
                @extend %cubic;
                @extend %display-flex;
                @extend %flex-center-vertical;
                width: 100%;

                // Position the feedback text out of frame for the animation
                // When the button is clicked, this container will come into view

                &:last-child{
                    position: absolute;
                    transform: translateY(44px);
                    color: $blue;
                }

                // For the icon within the clipped feedback - changes to the default styling of icons
                // This is optional and might not always be needed

                .icon{
                    min-width: 14px;
                    width: 14px;
                    min-height: 14px;
                    transition: 0ms;
                }
            }
        }

        // For animations of the text - once the button is clicked

        &[aria-pressed="true"]{
            pointer-events: none;

            // Change the backgrond of the button to be white and add the border
            
            .btn{
                background: $white;
                border: 1px solid $blue;
            }

            // For the text to animate up, removing the default text and showing the feedback text

            .btn__animation--text > span{

                // Remove the default text

                &:first-child{
                    transform: translateY(-44px);
                }

                // Show the feedback text

                &:last-child{
                    transform: translateY(0px);
                    transition-delay: 150ms;
                }
            }
        }  
    }
}
