
@import "./src/global-css/variables/variables";

// For the styling of the process work within the CardiAct page
// This is in the middle of the page, below the project info

.page__block--process{
	position: relative;
	padding-top: 100px;
	color: $white;

	// Tighten up the top spacing on mobile breakpoints

	@media( max-width: 1023px ){
		padding-top: 50px;

		// add spacing below all images on tablet breakpoints

		img{
			min-width: 100%;
			margin-bottom: 12px;
		}
	}	

	// For the spacing between each of the process blocks

	> div:not(:last-child){
		margin-bottom: 50px;
	}

	// Change the default line height of the description text of the process

	p{
		@extend %body-font; 
		line-height: 1.5; 
	}

	// For the first variation of the lock-up for the process block
	// This contains three images, in an overlapping format

	.page__block{

		// For the container of all of the images within the process block

		.hero__img{
			@extend %display-flex;
			flex-direction: column;
			width: 100%;
		}

		// For the second variation of the process lockup
		// This is the container of the "Research, defining users" section

		&--var-1{
			position: relative;

			// For the first image within the container
			// This address the spacing between the next section, with the two bottom images riding the padding decalred here

			.hero__img{
				padding-bottom: 350px;

				// Remove the bottom padding on tablet breakpoints

				@media( max-width: 1023px ){
					padding-bottom: 0;
				}

				// For the sizing and alignment of the two images on the bottom of the container

				> div{
					@extend %display-flex;
					@extend %flex-center-all;
					position: absolute;
					width: 100%;
					bottom: 25px;

					// For the shadow on each of the images within the container

					img{
						box-shadow: 0 10px 20px rgba( #000, 0.1 );

						&:first-child{
							width: 400px;
						}

						// For the sizing and background adjustments of the image on the right of the container

						&:last-child{
							transform: translateX( -80px );
							max-width: 500px;
							width: 100%;
							padding: 30px;
							background: $white;
						}
					}

					// Change the position and alignment of the images on tablet breakpoints

					@media( max-width: 1023px ){
						position: relative;
						flex-wrap: wrap;
						bottom: auto;

						img:last-child{
							transform: translateX( 0px );
						}
					}
				}
			}
		}

		// For the second variation of the process lockup
		// This is the container of the "Sketching, prototype" section

		&--var-2 .hero__img img{
			box-shadow: 0 10px 20px rgba( #000, 0.9 );

			// Size of the first image within the container

			&:first-child{ 
				width: 70%; 
			}

			// Size of the second image within the container

			&:nth-child( 2 ){ 
				width: 100%; 
			}

			// Size and position of the third image within the container

			&:last-child{
				width: 80%;
				align-self: flex-end;
			}
		}

		// For the third variation of the process lockup
		// This is the container of the User testing and final design

		&--var-3 .hero__img img{
			box-shadow: 0 10px 20px rgba( #000, 0.9 );

			// Size of the first image within the container

			&:first-child{
				width: 70%;
			}
			// Size and position of the second image within the container

			&:nth-child( 2 ){
				align-self: flex-end;
				width: 80%;
			}
			// Size and position of the third image within the container

			&:last-child{
				width: 50%;
				align-self: center;
			}
		}
	}
}
