
@import "../../../scss/variables/variables";

// For the styling of button containers
// This is horizontal by default but can be swtiched to a vertical container by declaring the class

.content__walgreens .btn__contain{
	@extend %display-flex-wrap;
	@extend %flex-center-vertical;
	position: relative;

	// Set the spacing if the buttons are side by side

	.btn__wrap{
		
		&:not(:last-child){
			margin-right: 8px;
		}
	}

	// If the container is vertical

	&--vert{
		flex-direction: column;

		// For those vertical contains with buttons, the buttons should go full width within the container

		.btn__wrap{
			width: 100%;
			margin: 0 0 10px 0;

			// Remove the spacing on the bottom of the last button

			&:last-child{
				margin-bottom: 0;
			}

			// Remove the default spacing on the right side of the button container

			&:not(:last-child){
				margin-right: 0;
			}
		}

		// For the button to go full width of the master button wrap container

		.btn{
			width: 100%;
		}
	}

	// For the special alignments of the buttons within the container
	// Align the buttons to the right of the container

	&--right{
		justify-content: flex-end;
	}
}