
@import "../../scss/variables/variables";

// For the spacing of checkboxes within the master container

.wag__comps .checkboxes__contain li{

	&:not(:last-child), &:last-child{
		padding: 2px 0;
	}
}

// For the styling of checkboxes
// This contains the checkbox and optional text to the right of the checkbox

.wag__comps .checkbox{
	@extend %display-flex;
	@extend %flex-center-vertical;
	position: relative;
	width: 100%;
	height: 28px;

	// For the hidden input - this needs to hover on top to be clicked
	// This is the broswer default that doesn't allow for styling 
	// This also allows for the area to the right of the checkbox to be clicked

	input{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		cursor: pointer;
		-webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	}

	// For the container of the check and the text to the right

	label{
		@extend %display-flex;
		@extend %flex-center-vertical;
		color: $type-gray;
	}

	// For the check on the left side of the container

	&__box{
		@extend %display-flex;
		@extend %flex-center-all;
		position: relative;
		width: 24px;
		height: 24px;
		border-radius: 6px;
		border: 1px solid $gray;
		color: $white;
		overflow: hidden;

		// For the background of the box
		// This is gray on hover, and changes to blue, full take over of the container

		&:before{
			@extend %speed-3ms;
			content: ' ';
			position: absolute;
			width: 100%;
			height: 100%;
			background: $disabled-gray;
			border-radius: 6px;
			transform: scale(0.15);
			opacity: 0;
		}

		// For the check icon in the center of the container
		// This shows up on click or is visible if the box is checked by default

		.icon__check--v2{
			min-width: 13px;
			width: 13px;
			opacity: 0;
		}

		// If there is text to the right of the checkbox

		+ span{
			@extend %display-flex;
			margin-left: 12px;
			line-height: 1.5;
		}

		// If the checkbox is checked

		&--checked{
			border-color: $blue;
			

			// Background to fill in the box and change background color

			&:before{
				border-radius: 0px;
				background: $blue;
				transform: scale(1);
				opacity: 1;
			}

			// Show the check icon

			.icon__check--v2{
				opacity: 1;
			}
		}
	}

	// For the hover effects - show the background within the button

	&:hover .checkbox__box{

		// Subtly scale the background

		&:before{
			transform: scale(0.7);
			opacity: 1;
		}

		// If the box is checked, visually remove the hover effect

		&--checked:before{
			transform: scale(1);
		}
	}

	// For the disabled check boxes
	// These could either be disabled without being checked or with being checked

	&[disabled]{
		pointer-events: none;

		// If the checkbox is diabled, change the color to be gray, instead of blue

		&, .checkbox__box{
			color: $gray;
		}

		// Change the border color

		.checkbox__box{
			border-color: $disabled-gray;

			// For the slash in the middle of the container

			&:after{
				content: ' ';
				position: absolute;
				top: -3px;
				width: 1px;
				height: 30px;
				background: $disabled-gray;
				z-index: 10;
				transform: rotate(44deg);
			}

			// Change the background color is the box is checked

			&--checked{

				&, &:before{
					background: $disabled-gray;
				}

				// Remove the slash in the middle if the box is checked

				&:after{
					display: none;
				}
			}
		}

		// Change the color of the text next to the disabled checkboxes to be gray
		// So that they look disabled

		label{
			color: $gray;
		}
	}
}
