
@import "./assets/scss/variables/variables";

// For the shared styling of the thumb button of the slider
// This is the circle button with the grip icon in the middle of the button

@mixin thumb() {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url('/icons/individual/icon__grip.svg') $blue no-repeat center;
	background-size: 40%;
	border: 8px solid $white;
	box-shadow: $drop-shadow;
	cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
	-webkit-appearance: none;
	appearance: none;
	transition: $speed-3ms;

	// Make the thumb a little bigger on hover

	&:hover{
		transform: scale(1.05);
	}

	// Change the cursor to show that the humb has been grabbed

	&:active{
		transform: scale(1.1);
		cursor: grabbing;
    	cursor: -moz-grabbing;
    	cursor: -webkit-grabbing;
	}
}

// For the styling of the slider
// There are 2 versions - can either be displayed vertically or horizontally

.slider{
	position: relative;
	width: 100%;

	// For the label on the top of the container
	// In the LSG example, this is "Choose an amount"

	label{
		@extend %display-flex;
		@extend %flex-center-horizontal;
		width: 100%;
	}

	// For the range slider input
	// This does not look like a taditional input but contains the bar and the thumb button

	> input{
		@extend %display-flex;
		@extend %flex-center-vertical;
		margin-top: 32px;

		// For the background of the slider

		&[type="range" i]{
			position: relative;
			width: 100%;
			height: 20px;
			border-radius: 20px;
			background: $disabled-gray;

			// For the progress blue that follows the previous numbers within a slider

			&:before{
				content: ' ';
				position: absolute;
				width: 100%;
				height: 20px;
				background: $disabled-gray;
				border-radius: 20px;
			}
		}

		// To account for all broswers
		// For the firefox prefix
		
  		&::-moz-range-thumb { 
  			@include thumb;
  			width: 25px;
			height: 25px;
		}

		// For the slider thumb within safari browser

		&::-webkit-slider-thumb { 
			@include thumb; 
		}

		// For the slider thumb within Internet Explorer and Edge

  		&::-ms-thumb { @include thumb }

		// For the progres that is to the left of the thumb button, that shows the progress  		

  		&::-moz-range-progress {
		    height: 20px;
		    background: $blue;
		    border-radius: 20px;
		}
	}

	// For the container of the numbers on the bottom of the container
	// This has the min on the left, max on the right, and the input in the center

	&__numbers{
		@extend %display-flex;
		@extend %flex-center-all;
		position: relative;
		padding-top: 32px;

		// For the styling of the input in the center of the container
		// This is a special input than the default ones, so we kind of have to re-create it

		input{
			@extend %speed-3ms;
			@extend %font-bold;
			height: 44px;
			margin: 0 20px;
			padding: 0 12px;
			border: $gray-border;
			border-radius: $border-radius;
			text-align: center;
			font-size: $sixteen;

			// Change the color of the border when the user clicks into the input

			&:focus{
				border-color: $blue;
			}
		}

		// For the styling of the min and max numbers on the left and right side of the container

		&--range{
			min-width: 97px;
			padding: 8px 16px;
			border-radius: $border-radius;
			background: $neutral;
			text-align: center;
			font-size: $fourteen;
		}
	}
}
