
@import "../../../scss/variables/variables";

// For the styling of the animations of the illustrations

.illus__blob{
	@extend %display-flex;
	@extend %flex-center-all;
	position: absolute;
	width: 600px;
	height: 100%;


	svg{
		transform: scale(1.2);
		width: 100%;
	}	

	&--tint-blue{
		fill: rgba( $white, 0.5 );
	}
}


.illus__man--wallet{
	@extend %display-inline-flex;
	position: relative;
	padding: 0 20px 20px 50px;

	.illus__wallet{
		position: absolute;
		top: 0;
		left: 0;
		width: 110px;
		z-index: 0;
	}
	
	&-main{
		position: absolute;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 310px;
	}

	

	&-base{
		position: relative;
		width: 300px;
		padding-top: 143px;
	}

	svg{
		display: flex;
	}

	&-wallet{
		width: 100px;
	}

	&-head{
		position: absolute;
		top: 0;
		left: 63px;
		width: 155px;
		height: 197px;
		z-index: 1;
	}

	@keyframes animate__face {
		0%  { transform: rotate(-5deg); }
		30%, 100% { transform: rotate(0deg); }
	}

	&-face{
		position: relative;
		width: 100%;
		z-index: 1;
		animation: animate__face 5s ease infinite forwards alternate;
		transform-origin: center right;
	}

	&-neck{
		position: absolute;
		bottom: 0;
		right: 26px;
    	width: 57px;
    	z-index: 0;
	}

	
	@keyframes animate__body {
		0%  { transform: rotate(-3deg) translateX(10px); }
		30%, 100% { transform: rotate(0deg) translateX(0); }
	}
	

	&-body{
		position: relative;
		width: 100%;
		z-index: 0;
		animation: animate__body 5s ease infinite forwards alternate;
	}

	// For the container of the eyes
	// These sit within the glasses, as well, dots, that are represented as eyes
	// For the animation

	@keyframes animate__eyes {
		0%  { transform: scale(1,1); }
		5% { transform: scale(1,0); }
		10%, 100% { transform: scale(1,1); }
	}

	// For the master container of the eyes

	&-eyes{
		@extend %display-flex;
		@extend %flex-center-vertical;
		position: absolute;
		top: 80px;
		width: 100%;
		height: 30px;
		padding-left: 25px;
		z-index: 10;

		// For direct containers of the eyes

		div{
			position: relative;
			width: 50px;
			height: 8px;
			transform: rotate(5deg);

			// Styling of the eyes

			&:before, &:after{
				content: ' ';
				position: absolute;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background: $black;
				animation: animate__eyes 5s ease infinite;
			}

			// Placement of the eyes

			&:before{ left: 0; }
			&:after{ right: 0 }
		}
	}

	// For the main container of the animation
	// This holds the arm, hand, and wallet

	@keyframes animate__main {
		0%  { transform: rotate(-5deg) scale(0.95); }
		30%, 100% { transform: rotate(0deg) scale(1); }
	}

	// Master container

	&-main{
		position: absolute;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 310px;
		animation: animate__main 5s ease infinite forwards alternate;
		transform-origin: top right;
	}

	// For the placement of the arm in the bottom right of the container
	// For the container of the arm

	&-arm{
		position: absolute;
		right: 0;
		bottom: 0;
		width: 270px;
	}

	// For the placement of the hand container
	// This contains the hand on the bottom, and the wallet on the top

	@keyframes animate__hand {
		0%  { transform: rotate(-15deg) scale(0.95); }
		30%, 100% { transform: rotate(0deg) scale(1); }
	}

	// For the master container

	&-hand{
		@extend %display-flex;
		flex-direction: row-reverse;
		position: absolute;
		top: 0;
		left: 0;
		width: 125px;
		padding-top: 42px;
		animation: animate__hand 5s ease infinite forwards alternate;
		transform-origin: bottom right;

		// For the styling of the hand, on the bottom of the container

		&-hand{
			position: relative;
			width: 90px;
			z-index: 10;
		}
	}
}


					