
// For the shared styling of the icons within the site

.icon{
	@extend %display-flex-wrap;
	@extend %flex-center-all;
	position: relative;
	min-width: 44px;
	width: 44px;
	height: 44px;
	background: inherit;
	color: inherit;
	overflow: hidden;

	// For the svgs within the icon

	svg{
		position: absolute;
		width: 119%;
		fill: currentColor;
	}

	// For the smaller icons

	&__sm{
		min-width: 20px;
		width: 20px;
		height: 20px;

		// For the thin icons
		// These are the same height but the icons need a tighter width for porportion

		&--thin{
			min-width: 17px;
			width: 17px;

			// Standard sizing of the icons within the thin container

			svg{
				width: 148%;
			}

			// Special sizing for the avatar icon

			&.icon__avatar svg{
				width: 119%;
			}
		}

		// For the wider icons to keep the proportions

		&--wide{
			min-width: 26px;
		}
	}
}
