
@import "./src/global-css/variables/variables";

// For the prompt message in the message container
// This is on the bottom of the iphone container
// Currently only used in the CardiAct App message screen

.iphone__message-prompt{
	width: calc(100% - 45px);
	height: 36px;

	// For the input container, that holds the inpur

	.message__input{
		@extend %display-flex;
		@extend %flex-center-vertical;
		border: 1px solid #d4d4d4;
		height: 100%;
		border-radius: 20px;
		padding-right: 3px;
	}

	// Changes / additions to the default styling of inputs
	
	input{
		width: 87%;
		font-size: $twelve;
		padding: 0px 12px 2px;
	}
}
