
@import "./src/global-css/variables/variables";

// For the styling of the signlas on the top right side of devices
// For the status symbols on the right of the speaker

.device__signal{

	// For the master container of the three symbols

	ul{ @extend %display-flex; }

	// For the list items within the ul container

	li{
		margin-left: 3px;

		// Remove the margin on the first list item

		&:first-child{
			margin-left: 0px;
		}
	}

	// Master container of the signal icon
	// This is on the left side of the container, containing four step bars

	.signal{
		width: 15px;

		// For the smallest bar on the left side of the container

		&:before{ height: 3px; }

		// For the largest bar on the right side of the container

		&:after{
			height: 9px;
			opacity: 0.3;
		}

		// Shared styling for the bars on the outside and the inside

		&, div{
			position: relative;
			height: 10px;

			// Shared styling for all of the bars within the container

			&:before, &:after{
				content: ' ';
				position: absolute;
				width: 3px;
				bottom: 0px;
				border-radius: 1px;
				background: $iphone-black;
			}

			// For the position of the bar on the left

			&:before{ left: 0px; }

			// For the postion of the bar on the right

			&:after{ right: 0px; }
		}

		// This is styling specific to the two bars in the middle of the container

		div{
			position: relative;
			width: 7px;
			margin: 0px auto;

			// For the bar on the left side of the container

			&:before{ height: 5px; }

			// For the bar on the right side of the container

			&:after{ height: 7px; }
		}
	}

	// Master container of the LTE icon

	.lte{
		@extend %display-flex;
		@extend %flex-center-vertical;
		font-size: 10px;

		// Change the font of the text

		em{ font-family: 'Noto Sans TC', sans-serif; }
	}

	// Master container for the battery icon

	.battery{
		@extend %display-flex;
		@extend %flex-center-vertical;
		padding-right: 2px;

		// For the container of the main battery

		div{
			@extend %display-flex;
			@extend %flex-center-all;
			position: relative;
			width: 18px;
			height: 10px;
			border: 1px solid #808080;
			border-radius: 3px;

			// For the bordr around the battery life

			&:after{
				content: ' ';
				position: absolute;
				width: 60%;
    			height: 6px;
				background: $iphone-black;
				border-radius: 1px;
				left: 1px;
			}
		}

		// For the nub on the right of the battery - shows the positive

		&:after{
			content: ' ';
			position: absolute;
			width: 1px;
			height: 4px;
			border-radius: 0px 2px 2px 0px;
			background: #808080;
			right: 0px;
		}
	}
}
