
@import "./assets/scss/variables/variables";

// For the styling of the product ratings
// This has the star rating to the left with the fsa icon on the right

.product__rating{
	@extend %display-flex;
	@extend %flex-center-vertical;
	position: relative;

	// For the rating and FSA container

	span{
		@extend %display-inline-flex;
		@extend %flex-center-vertical;
	}

	// For the stars on the left side of the container

	&--stars{
		@extend %display-flex;
		@extend %flex-center-vertical;
		width: 112px;
		margin-right: 12px;
		font-size: $fourteen;

		// Sapcing between the star rating and the number

		span:first-child{
			margin-right: 4px;
		}

		// For the size of the stars on the right side of the container

		img{ width: 77px; }
	}
}
