
@import "./src/global-css/variables/variables";

// For the styling of the About page
// This contains my short bio, social media links, and a link to my Résumé

.page__about{
	@extend %body-font;
	@extend %display-flex;
	@extend %flex-center-all;
	position: relative;
	min-height: calc( 100vh - 110px );
	padding-bottom: 0;
	color: $white;
}

// For the container of the main content within the About page
// " .About " is never acutally a class decalred

.about{

	// For the master container of all the text and links that lives within the about page

	&__contain{
		position: relative;
		max-width: 900px;
		width: 90%;
		margin: 0 auto;
		padding: 50px 0;
		z-index: 10;

		// Change the default line height for the p tag
		// This spreads out the text a bit more, based on the content of the About page

		p{ line-height: 1.75; }
	}

	// For the title of the about page
	// This is at the top of the container

	&__title{
		position: relative;
		padding-bottom: 32px;

		// For the sizing and font chnages of the h1

		h1{
			@extend %header-font;
			font-size: $thirty;
		}
	}

	// Master container for the video that is playing in the background on the About page
	// Sets the container of the video, with styling and basic positioning

	&__bg{
		@extend %display-flex;
		@extend %flex-center-all;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		opacity: 0.1;
		z-index: 0;
		pointer-events: none;

		// For the content within the master container - holds the video
		// This is inside the title so anything within this containers observes the perspective

		&--content{
			@extend %display-flex;
			@extend %flex-center-all;
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;

			// For the sizing of the actual video within the container
			// Currently this video is " I like turtles "

			video{
				min-height: 100%;
				width: 150%;
			}
		}
	}
}
