
@import "./src/global-css/variables/variables";

// For the styling of the icons within the Walrgeens Project
// This is in a grid system containing all of the icons

.icon__contain{
	@extend %display-flex-wrap;
	@extend %flex-center-all;
	position: relative;
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;

	// For the container of the individual icons

	.icon{
		@extend %display-flex;
		@extend %flex-center-all;
		width: 85px;
		height: 85px;
		color: $white;

		// For the sizing of the icon within the container

		svg{
			width: 68%;
			height: 68%;
		}
	}
}
