
@import "../../scss/variables/variables";

// Shared styling of the icons used throughout the LSG
// These are universal for all icons, accommidating for three different sizes - default, thin, and wide
// Any custom sizing should fit within that specific component in their specific CSS sheet

.wag__comps .icon{
	@extend %speed-3ms;
	@extend %display-inline-flex;
	@extend %flex-center-all;
	position: relative;
	min-width: 30px;
	min-height: 30px;
	overflow: hidden;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	outline: none;

	// Set the default style for the svgs that live in the icon container
	// This is for the actual icon - that lives within the sprite image

	svg{
		position: absolute;
		fill: currentColor;
		width: 195%;
		height: 195%;
	}

	// For the icons that need a wider container to fit
	// This is for icons such as the truck, camera, video, ect

	&__ship--truck, &__car{
		min-width: 40px;
	}

	// For the smaller icons
	// These typically live inside buttons

	&__sm{
		min-width: 20px;
		min-height: 20px;
	}

	// For the large icons for alternative needs

	&__lg{
		min-width: 40px;
		min-height: 40px;

		// Change the size of the icon within the container

		&.icon__wide{
			min-width: 50px;
		}
	}

	// For the large icons for alternative needs

	&__xl{
		min-width: 64px;
		min-height: 64px;

		// Change the size of the icon within the container

		&.icon__wide{
			min-width: 50px;
		}
	}

	// Color supported

	&__red		 { color: $red;  }
	&__dark-blue { color: $blue; }
}
