
@import "./assets/scss/variables/variables";

// For the styling of the textarea
// This contains the label on the top, input below and additional functions on the bottom
// Such as character count

.input__textarea{
	@extend %speed-3ms;
	position: relative;
	padding: 16px 8px 8px 16px;
	border: $gray-border;
	border-radius: $border-radius;

	// Change the color of the border when the user focuses within the textarea

	&:focus-within{
		border-color: $blue;
	}

	// For the spacing of the label

	label{
		@extend %display-flex;
		padding-bottom: 4px;
		font-size: $fourteen;
		line-height: 1;
	}

	// For the styling of the textarea input

	textarea{
		@extend %display-flex;
		@extend %font-bold;
		position: relative;
		width: 100%;
		min-height: 96px;
		padding: 0;
		border: none;
		resize: vertical;
		font-size: $sixteen;
		line-height: 1.5;

		// Remove the outline on focus - this might need to change for accessibility

		&:focus{ outline: none; }

		// Remove the default styling
		// This will show the placeholder text by default

		&::-webkit-input-placeholder { opacity: 1; }
		&:-ms-input-placeholder 	 { opacity: 1; }
		&::-moz-placeholder 		 { opacity: 1; }
		&:-moz-placeholder 			 { opacity: 1; }
	}
}
