
@import "../../scss/variables/variables";

// For the styling of the radio buttons

.wag__comps .radio{
	@extend %display-flex;
	@extend %flex-center-vertical;
	flex-direction: row-reverse;
	position: relative;

	// On hover, show the inner, gray part of the radio button

	&:hover .radio__btn:before{
		transform: scale(0.8);
		opacity: 1;
	}

	// For the container of the radio button 
	// This has the radio button on the left and the text on the right

	label{
		@extend %display-flex;
		@extend %flex-center-vertical;
		margin-left: 12px;
		cursor: pointer;
	}

	// This is the styling fot the broswer default radio input
	// We have to remove it so we can add a custom style, but keep it for functionality
	// This is the guts of this component - most important part - dictates the click events

	input{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		z-index: 9999;
		cursor: pointer;

		// Remove the ability to click on inputs that are disabled

		&[disabled]{
			pointer-events: none;
		}

		// When the button is clicked, scale the radio and change the color

		&:checked + .radio__btn:before{
			transform: scale(1);
			opacity: 1;
			background: $blue;
		}
	}

	// For the actual radio button that is custom to our brand
	// This is the radio button that is on the left of the container, with the text on the right

	&__btn{
		@extend %display-flex;
		@extend %flex-center-all;
		position: relative;
		min-width: 24px;
		width: 24px;
		min-height: 24px;
		height: 24px;
		border-radius: 50%;
		border: 1px solid $stroke;

		// For the selector of the radio button
		// This shows up on hover and stays put on click

		&:before{
			@extend %speed-3ms;
			content: '';
			position: absolute;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background: $disabled-gray;
			transform: scale(0.2);
			opacity: 0;
		}
	}

	// For the styling of the disabled radio buttons
	// These are not clickable by default

	&__disabled{
		pointer-events: none;
		color: $gray;

		// Show the disabled radio button with the slash through it
		// This is for the unchecked disabled radio button

		.radio__btn:after{
			content: ' ';
			position: absolute;
			width: 2px;
			height: 100%;
			background: $disabled-gray;
			transform: rotate(45deg);
		}

		// For the styling of the radio button that are disabled but also selected

		input:checked + .radio__btn{

			// Show the radio button disabled

			&:before{
				background: $disabled-gray !important;
			}

			// Remove the slash that is shared by the other diabled radio button
			// Since it is selected

			&:after{ display: none; }
		}
	}
}
