
@import "./assets/scss/variables/variables";

// For the styling of the rail nav
// This is typically lives on the tier pages - on the left side of the screen with the links listed

.nav__rail{
	position: relative;
	background: $neutral;
	border-radius: $border-radius;

	// For the padding of the nav by default - spacing changes if title is present ( see below )
	// This is because the title is optional - by default there is not title

	nav{
		@extend %speed-3ms;
		position: relative;
		width: 95%;
		margin: 0 auto;
		padding: 16px 0;
		overflow: hidden;
	}

	// For the static title on the top of the container

	&--title{
		@extend %display-flex-space-between;
		@extend %flex-center-vertical;
		position: relative;
		padding: 20px calc(2.5% + 16px) 12px;
		border-radius: $border-radius;
		font-size: $eighteen;
		pointer-events: none;
		line-height: 1;

		// We needed to add pointer events none to use less code
		// This allows us to implement the click even on > tablet but still maintain highlighting on desktop

		span{
			pointer-events: auto;
		}

		// Change the sizing of the arrow down icon

		.icon{
			min-width: 15px;
			min-height: 15px;
			visibility: hidden;
		}

		// For the spacing of the nav if there is a title above it
		// Because title is optional

		&+ nav{
			padding: 0;

			// Maintain the spacing on the bottom of the container 
			// But will not effect the click area, as the nav transform to a dropdown

			li:last-child{
				margin-bottom: 16px;
			}
		}
	}

	// Changes to the default styling of the list item container
	// This contains all the links within the nav rail

	.list__vertical{

		// Remove the default padding of the list items
		// So that the a's drive the spacing for clickability

		li{
			padding: 0;

			// For the spacing of the a tags within the container

			a{ padding: 10px 16px; }
		}

		// Change the hover color of the links to be white

		a:before{
			background: $white;
		}
	}

	// This is only for mobile
	// When the title is clicked, animate the arrow buttons to be pointed up

	&[aria-expanded="true"] .nav__rail--title .icon{
		transform: rotateX(180deg);
	}

	// Changes on Tablet breakpoints - Nav rail is treated as a dropdown, collapsed

	@media(max-width: $tablet){

		// Transforming the nav rail into a dropdown buton for < tablet breakpoints

		&--title{
			padding: 20px calc(2.5% + 16px);
			pointer-events: auto;
			cursor: pointer;

			// For the hover effect since the rail is turning into a button
			// Show the affordability that the dropdown is clickable

			&:hover{
				background: $disabled-gray;
			}

			// Show the arrow down icon on tablet breakpoints

			.icon{
				visibility: visible;
			}
		}

		// Change the height of the icon 

		nav{
			height: 0;
			opacity: 0;
		}

		// When the title is clicked on mobile, display all the links below

		&[aria-expanded="true"] nav{
			height: auto;
			opacity: 1;
		}
	}
}

// Only for presentation in the LSG

.nav__rail--pres{ width: 320px; }
