
@import "./assets/scss/variables/variables";

// For the styling of the color swatches
// These are typically on the product cards - different shades of a product, such as lipstick
// For the master container of the color swatch

.swatch{
	@extend %display-flex;
	@extend %flex-center-all;
	position: relative;

	// For the master container if there are multiple swatches - this is a list

	&__list{
		@extend %display-flex-wrap;
		margin-left: -5px;
	}

	// For the container of the color and the outline

	&__color{
		@extend %display-flex;
		@extend %flex-center-all;
		position: relative;
		width: 34px;
		height: 34px;

		// For the outline that shows on hover

		&:after{
			@extend %speed-3ms;
			content: ' ';
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			border: 2px solid $disabled-gray;
			transform: scale(0.5);
			z-index: 0;
		}

		// For the hex color, in the center of the container

		&--hex{
			@extend %speed-3ms;
			@extend %display-flex;
			@extend %flex-center-all;
			width: 26px;
			height: 26px;
			border-radius: 50%;
			transform: scale(0.8);
			overflow: hidden;
			z-index: 1;
		}
	}

	// For the container of the tooltip - needs to be wrapped in a label for html form semantics

	label{
		position: absolute;
		bottom: 42px;
		pointer-events: none;
	}

	// For the changes to the styling of the default tooltip

	.tooltip__modal{
		position: relative;
		bottom: auto;
		width: auto;
		padding: 10px 15px;
		border-radius: 10px;
		white-space: nowrap;
	}

	// For the position of the input
	// Visually, this is invisible, but sits on the top of the custom styled Radio buttons, in the form of swatches

	input{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 10;
		cursor: pointer;
	}

	// When the input is selected or hovered, make the background color swatch have an active state
	// For the styling of the color and the outline on the outside

	&[aria-expanded="true"], input:checked +.swatch__color{

		.swatch__color:after, &:after, .swatch__color--hex, .tooltip__modal{
			transform: scale(1);
			opacity: 1;
		}
	}

	// Change the color of the outline to show clearly that the swatch is selected

	input:checked +.swatch__color{

		&:after{
			border-color: $blue;
		}
	}
}
