
@import "../../scss/variables/variables";

// For the styling of the coupon card
// This contains the image on the left, tex on the right, and the buttons on the bottom

.wag__comps .card__coupon{
	width: 100%;
	height: 100%;

	// For the container of the product img on the left, and the text on the right

	figure{
		@extend %display-flex;
		@extend %flex-center-vertical;
		position: relative;
		width: 100%;
	}

	// For the text on the right of the container - we are declaring the spacing between the image and text

	figcaption{
		margin-left: 20px;
	}

	// By default, we are adujusting for one button
	// We are changing the default styling so that the button is going full-width of the container

	.btn{
		width: 100%;

		// For the container of the buttons on the bottom of the card

		&__contain{
			@extend %display-flex-space-between;

			// We need to make these buttons 50/50 to be displayed inline, if there are two buttons

			.btn__wrap{
				width: calc(50% - 4px);
			}

			// This is special for the coupon card
			// This is the logic that says, if the shop link is not avilable, then the Clip button goes full width

			&--full .btn__wrap{
				width: 100%;

				// Remove the default margin on the right of the container, so that it can go full width

				&:not(:last-child){
					margin-right: 0;
				}
			}

			// For the links and buttons in the container to observe full width of that container

			a, button{
				width: 100%;
			}
		}
	}
}
