
@import "../../../scss/variables/variables";

// For the variables within card items

.wag__comps .card__item{
	position: relative;
	width: 100%;
	line-height: 1.3;

	&--inline{
		@extend %display-flex-wrap;
		@extend %flex-center-vertical;

		> div{

			&:not(:last-child){
				margin-right: 32px;
			}
		}
	}

	// For the exp part of the card

	&--expiration{
		margin-bottom: 4px;
		font-size: $fourteen;
	}

	// For the size of the brand text within the card

	&--brand{
		font-size: $twenty-two;
	}

	// For the deals within the card

	&--deal{
		color: $red;
		font-size: $eighteen;
	}

	// For the description of the card

	&--descp{
		line-height: 1.5;
		color:  $type-gray;
	}

	// For the spacing of ezch item within the card, except for the last item

	&:not(:last-child){
		margin-bottom: 8px;
	}
}
