
@import "../../scss/variables/variables";

.content__walgreens .faq{

	.heading{
		margin-bottom: 32px;
	}

	.list__contain{

		.list__contain{
			width: 100%;
		}

		&:not(:first-child){
			margin-top: -1px;
		}
	}
}