
@import "./assets/scss/variables/variables";

// For the styling of the Undo components
// This has the text on the left and the dismiss icon on the right - Undo shows up on click
// We have the translateX to keep the left alignment

.undo{
	@extend %speed-6ms;
	position: relative;
	padding: 8px 16px;
	border-radius: $border-radius;
	transform: translateX(-16px);
	overflow: hidden;

	// For the container of the text on the left and the button on the right

	&__content{
		@extend %display-flex;
		@extend %flex-center-vertical;
	}

	// Items within the content con

	span{
		@extend %speed-3ms;
		position: relative;
		z-index: 1;
	}

	// For the container of the undo buttons on the right side of the container
	// This contins the x button by default and the undo tetx that shows up after undo is clicked

	.btn__undo{
		@extend %display-flex;
		@extend %flex-center-vertical;
		position: relative;
		margin-left: 8px;
		padding: 7px 0;

		// For the buttons within the undo container
		// This has the X icon shown by default, and the undo text that shows up on click
		
		button{

			// For the X icon shown by default

			&:first-child{
				position: absolute;
				left: 0;
			}

			// For the undo text that is shown after the click

			&:last-child{
				opacity: 0;
			}
		}
	}

	// For the button container to the right of the text
	// This contains the x icon with the undo text that shows up on click, while the icon fades out

	.btn__icon{
		@extend %display-flex;
		@extend %flex-center-all;
		position: relative;
		outline: none;
		z-index: 0;

		// For the blue background that animates in on click and hover
		// On click, the color overtakes the entire container

		&:before{
			@extend %speed-3ms;
			content: ' ';
			position: absolute;
			background: $tint-blue;
			width: 600px;
			height: 600px;
			border-radius: 50%;
			transform: scale(0);
			z-index: 0;
		}

		// On the hover, show the :before background around the icon

		&:hover:before{
			transform: scale(0.065);
		}
	}

	// ANIMATION - When the X icon within the button is clicked - the undo becomes active
	// Move the entire container to the right

	&__active{
		transform: translateX(0);

		// Remove the x icon once it is clicked to show the undo button

		.icon{
			opacity: 0;
		}

		// Show the "Undo" text button

		.btn__undo button:last-child{
			opacity: 1;
		}

		// Changes to the button, show the background, remove the icon, and show undo

		.btn__icon{

			// For the background to cover the entire container

			&:before, &:hover:before{ transform: scale(1) }
		}
	}
}
