 
 @import "./assets/scss/variables/variables";

 // For the styling for the table component

 .table{
 	position: relative;
 	color: $dark-blue;

 	// For the container of the categories, that are on the right side of the container
 	// This holds the compare, contrast feature of the tables

 	&__categories{
 		@extend %display-flex;
 		flex-direction: row-reverse;
 		position: relative;
 		width: 100%;

 		// For the container of the list items - the individual features of the table

 		ul{
 			@extend %display-flex;
 			position: relative;
 			width: 30%;

 			@media(max-width: $mobile){
 				width: 40%;

 				li{
 					text-align: left;
 				}

 				.heading{
 					font-size: $sixteen;
 				}
 			}
 		}

 		// For the container of the names of the columns

 		li{
 			@extend %display-flex;
 			@extend %flex-center-horizontal;
 			position: relative;
 			width: 50%;
 			padding-bottom: 8px;

 			// For the blue line on the bottom of the container

 			&:after{
 				content: ' ';
 				position: absolute;
 				bottom: 0;
 				width: 90%;
 				height: 4px;
 				background: $dark-blue;
 				border-radius: $border-radius;
 			}

 			// Remove the default spacing on the right of the container

 			&:not(:last-child){
 				margin-right: 0;
 			}

 			// Change the edefault line height of the heading tag within the container

 			.heading__text{
 				width: 80%;
 				margin: 0 auto;
 				line-height: 1;
 				text-align: center;
 			}

 			// If there is an image within the container

 			.logo{
 				max-width: 100px;
 				width: 80%;
 			}
 		}
 	}

 	&__item:not(:last-child){
 		margin-bottom: 80px;
 	}

 	&__item--title{
 		position: relative;
 		width: 40%;
 		line-height: 1.5;

 		@media(max-width: $mobile){
 			width: 55%;
 		}
 	}

 	.heading__text{
 		padding-bottom: 16px;
 	}

 	

 	.list__vertical{

 		> li {
 			@extend %display-flex-space-between;
 			padding: 16px 0;

 			> span{
 				padding: 0 20px;
 			}
 		}

 		> li:nth-child( 2n + 1 ){
 			background: $neutral;
 			border-radius: $border-radius;
 		}
 	}

 	&__item--results{
 		@extend %display-flex;
 		width: 30%;

 		li{
 			@extend %display-flex;
 			@extend %flex-center-horizontal;
 			width: 50% !important;
 		}

 		.icon{
 			margin-right: 0 !important;
 			color: $red;
 		}

 		@media(max-width: $mobile){
 			width: 40%;
 		}
 	}
 }
