
@import "../../scss/variables/variables";

// For the styling of the tooltip
// This has the question mark icon with the tooltip modal displaying on hover

.tooltip{
	@extend %display-inline-flex;
	@extend %flex-center-all;
	position: relative;
	z-index: 9900;

	// For the container of the tooltip - with the icon on the left and the text on the right

	&__contain{
		@extend %display-flex;

		// If there is more than one tooltip in a given div

		&+ .tooltip__contain{
			margin-top: 8px;
		}
	}

	// For the Question Mark icon
	// This is always visible and is the button that shows the tooltip on hover

	.icon{
		color: $blue;
		cursor: pointer;
	}

	// For the placement of the tootips
	// This could wither be top, right, left, or bottom
	// For the tooltip aligned to the top of the container

	&__top .tooltip__modal{
		bottom: 44px;
	}

	// For the tooltip aligned to the bottom of the container

	&__bottom .tooltip__modal{
		top: 44px;
	}

	// If there is text to the right of the tooltip

	&+ span{
		margin-left: 15px;
	}

	// For the modal that shows the text attached to the tooltip
	// This is hidden by default and shows up on hover, showing the tooltip on either the 
	// Top or the bottom of the container

	&__modal{
		@extend %speed-3ms;
		@extend %display-flex;
		@extend %flex-center-vertical;
		position: absolute;
		width: 350px;
		padding: 20px 25px;
		border-radius: 20px;
		background: $blue;
		color: $white;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
		transform: scale(0.9);
		pointer-events: none;
		z-index: 9999;
		opacity: 0;

		// For the text within the tooltip modal

		p{
			font-size: $sixteen;
			line-height: 1.6;
			text-align: left;
		}

		// For the position of the toolkit on the mobile breakpoints

		@media(max-width: $mobile){
			position: fixed;
			top: auto !important;
			bottom: 0 !important;
			width: 90%;
			margin: 20px auto;
			transform-origin: center center !important;
		}
	}

	// When the Tootip is hovered or tabed through, show the tooltip
	// This only works if the accessability is correct

	&[aria-expanded="true"]{

		.tooltip__modal{
			transform: scale(1);
			opacity: 1;
		}
	}
}
