
@import "./assets/scss/variables/variables";

// For the styling of the logo component

.logo{
	@extend %display-flex;
	color: $dark-blue;
	line-height: 1;

	&__white{
		color: $white;
	}

	&__align{

		&--bottom{
			align-items: flex-end;
		}
	}

	&__mark--large{
		width: 300px;
		margin-bottom: 16px;
	}

	&__mark--small{
		width: 120px;

		&+ span{
			
			font-size: $twenty-two;
			transform: translateX(-5px);
		}
	}

	&__mark--x-small{
		width: 100px;

		&+ span{
			
			font-size: $twenty-two;
			transform: translateX(-5px);
		}
	}
}