
@import "../../../scss/variables/variables";

// For the styling of the dismiss button
// When clicked, this button removes whatever flow the user was in
// This style sheet accounts for all the different variables the dismiss button can be displayed

.wag__comps .btn__dismiss{
	@extend %display-flex;
	@extend %flex-center-all;
	position: relative;
	width: 44px;
	height: 44px;

	// For the icon within the button small container

	&--sm .icon{
		min-width: 15px;
		width: 15px;
		height: 15px;
	}

	// For the circle background that shows up on hover

	&:before{
		@extend %speed-3ms;
		content: ' ';
		position: absolute;
		width: 38px;
		height: 38px;
		border-radius: 50%;
		background: rgba($white, 0.2);
		transform: scale(0.5);
		opacity: 0;
	}

	// For the animation of the button when it is hovered

	&:hover, &:focus{

		&:before{
			transform: scale(1);
			opacity: 1;
		}
	}
}
