
@import "./src/global-css/variables/variables";

// For the styling of the turn by turn directions on the bottom of the map
// Shown by default and expended to show more directions when clicked

.cardiact__dir{
	@extend %speed-3ms;
	position: relative;
	width: 95%;
	height: 79px;
	margin: 0px auto;
	background: $white;
	border-radius: $cardi-border-radius;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
	pointer-events: auto;
	overflow: hidden;
	z-index: 9999;

	// For the top - the directions that are always visible
	// This contains the address on the left and the start arrow on the right

	&--title{ @extend %display-flex; }

	// For the address that is always visible
	// Left part of the container - with the start arrow to the right of it

	&--address{
		width: 70%;
		padding: 15px 18px;
		font-size: $twelve;
		cursor: pointer;

		// Change the color of the address title to be in red

		div:first-child{
			margin-bottom: 4px;
			color: #b30109;
			font-size: $sixteen;
		}
	}

	// For the color of the distance on the bottom of the address
	// This is changing the color for heiarchy

	&--distance{ 
		margin-top: 2px;
	}

	// For the container of the start button
	// This contains the arrow icon on the top and "start" below it

	&--start{
		@extend %display-flex;
		@extend %flex-center-all;
		position: relative;
		width: 30%;
		padding: 15px;
		cursor: pointer;
		font-size: $twelve;

		// For the border line on the left part of the container
		// This is a psuedo because we do not want the border to go full height

		&:before{
			content: ' ';
			position: absolute;
			left: 0px;
			width: 1px;
			height: 57%;
			background: $cardi-gray;
		}

		// For the arrow icon within the container

		.icon{
			margin: 0px auto;
		}
	}

	// For the turn-by-turn directions that show up when the user clicks on the address
	// This section is expanded when the user clicks the address - hidden by default

	.dir__contain{
		@extend %speed-6ms;
		opacity: 0;

		// Reset the padding for the li's

		li{ padding: 0px; }
	}

	// For the master list container
	// This contains the icon on the left and the directions to the right

	ul{
		width: 80%;
		margin: 0px auto;
	}

	// For the turn-by-turn line items
	// Change the font size and add a border on the bottom of the container

	li{
		border-bottom: 1px solid #efefef;
		font-size: $fourteen;

		// Remove the border on the last list item

		&:last-child{
			border-bottom: none;

			// Change the heart icon to be red, not the default black such as the arrows

			.icon svg{ fill: $cardi-red; }
		}
	}

	// For the container within the li - contains the icon and the direction

	.dir__item{
		@extend %display-flex;
		@extend %flex-center-vertical;
		padding: 15px 0px;
		width: 100%;

		// For the icon on the left of the container

		.icon{
			min-width: 20px;
			width: 20px;
			margin-right: 15px;

			&__arrow-left svg{
				width: 18px;
			}
		}

		// For the text on the right of the container
		// This contains the turn and the miles till turns

		&--text{
			line-height: 1.25;

			// Changes to the types for miles below the street turn

			div:last-child{
				color: $cardi-light-gray;
				font-size: $fourteen;
			}
		}
	}

	// For the "Are you with the Victim" prompt - shows up over the direction container
	// This shows up if the user clicks on "With Victim" button on the bottom
	// Changes to the default styling

	.cardiact__confirm{
		height: 100%;
		width: 100%;
		padding-bottom: 0px;

		// Change the the default styling and pacing of the close button
		// On the top right of the container

		.btn__close{
			right: 6px;

			.icon{
				margin: 0;
			}
		}

		// For the button container within the master container

		.btn__contain{
			@extend %display-flex-wrap;
			@extend %flex-center-vertical;
			width: 100%;
			height: 100%;
			padding: 20px 15px;

			// For the container within the btn__contain
			// This is needed so that the content can be centered vertically

			div{ width: 100%; }
		}
	}
}
