
@import "../../scss/variables/variables";

// For the styling of the cards

.wag__comp .card{
	@extend %display-inline-flex;
	@extend %flex-center-all;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	background: $white;
	border-radius: $border-radius-alt;
	box-shadow: 0px 1px 6px 1px rgba(64,64,64,0.1);
	border: 1px solid #efefef;
	line-height: 1.4;
	font-size: $sixteen;
	overflow: hidden;

	&__no-styling{
		box-shadow: none;
		border: none;
		background: none;
	}

	.heading{
		line-height: 1.1;
	}

	// Type support If the card is outlined

	&__outline{
		box-shadow: none;
		border: 1px solid $stroke;
	}

	// For the master container of the card

	&__contain{
		@extend %display-flex;
		position: relative;
		height: 100%;
		width: 100%;

		&:not(:last-child){
			margin-bottom: 16px;
		}
	}

	// If the card contains a hero image
	// This is so that the hero can go full bleed witnin the card

	&__hero{
		@extend %display-flex;
		@extend %flex-center-all;
		width: 100%;

		&--none{
			height: auto;
		}

		img{
			min-height: 210px;
		}

		&--left{
			justify-content: flex-start;
			padding-top: 24px;

			img{
				width: 90%;
			}
		}
	}	

	// For the content within the card

	&__content{
		@extend %display-flex-space-between;
		@extend %display-flex-wrap;
		@extend %flex-center-vertical;
		align-content: flex-start;
		flex-direction: column;
		position: relative;
		width: 85%;
		height: 100%;
		margin: 0 auto;
		padding: 24px 0;
		z-index: 1;

		// For the styling of the a tag that is a direct child

		> a{
			align-self: flex-end;
			width: 100%;
		}

		// If there are buttons within the card

		.btn__contain{
			align-self: flex-end;
			width: 100%;
			padding-top: 28px;
		}
	}

	// Image support
	// The card can hold various image scenerios, based on the content within the component

	&__img{
		box-shadow: none;
		border: none;
	}

	// If there is an image thumb
	// These are on the left or right side of the container

	&__img--thumb{
		@extend %display-flex;
		width: 50px;
		margin-right: 16px;

		&+ div{
			width: calc(100% - 66px);
		}
	}

	// If there is an image product, such as the coupons card

	&__product--img{
		@extend %display-flex;
		@extend %flex-center-all;
		position: relative;
		min-width: 115px;
		width: 115px;
		margin: 0 auto;
	}

	// For the image in the background of the card
	// This is optional and is not by default within the component

	&__bg--img{
		@extend %display-flex;
		@extend %flex-center-all;
		position: relative;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 0;

		img{
			min-height: 100%;
			object-fit: cover;
		}

		// If there is a background we need to change the spacing and readability of the content
		// That lives on top of the background image

		&+ .card__content{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding: 24px 32px 24px 20px;
		}
	}

	// If a card has a flag on the top right corner
	// This is typically to signifiy if there is a deal or a due date

	&__contain .flag{
		position: absolute;
		top: 0;
		right: 0;

		// For the version one of the flag - you can find this in the flag component
		// this is for the placement to be a bit outside of the card

		&__v1{
			transform: translate3d(20px, -20px, 0);
		}
	}

	// For the typography styling within a card
	// For spacing needed if there is a heading present

	.heading{ 

		& + div{
			margin-top: 8px;
		}

		& + .heading__marketing--small{
			line-height: 1;
		}
	}

	// This is for changing the default styling for paragaph within a card

	p{
		font-size: $sixteen;
		line-height: 1.4;
	}

	// Colors supported for the background of the card

	&__cream{
		background: $neutral;
		box-shadow: none;
		border: none;
	}

	&__dark-blue{
		background: $dark-blue;
		color: $white;
		border: none;
	}

	&__align--bottom{
		align-self: flex-end;
	}
}
