
@import "./src/global-css/variables/variables";

// For the styling of the project thumbs
// These are on the work page - as bubbles to click on to go to the project

.project__thumb{
	@extend %display-inline-flex;
	@extend %flex-center-all;
	position: relative;

	> div{
		@extend %display-flex;
		position: relative;
		width: 1000px;
		height: 600px;
		overflow: hidden;
		opacity: 0.08;
		z-index: 0;

		&:before{
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba( #000, 0.6 );
		}
		
		img{
			@extend %display-flex;
			width: 100%;
		}
	}
}




.page__work{
	@extend %display-flex;
	@extend %flex-center-all;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding-bottom: 0;
	z-index: 0;

	> div{
		@extend %display-flex;
	}
}

.work__list{
	position: absolute;
	color: $white;
	font-size: $fifty;
	text-align: center;

	li{
		padding: 5px 0;

		a{
			@extend %display-inline-flex;
			@extend %flex-center-vertical;
			position: relative;

			// For the line that animtes in on hover
			// This line shows up in the middle of the text

			&:after{
				@extend %speed-6ms;
				content: ' ';
				position: absolute;
				left: 0;
				width: 100%;
				height: 3px;
				background: $white;
				transform: scale( 0, 1 );
			}

			&:hover:after{
				transform: scale( 1, 1 );
			}
		}
	}

	strong{
		@extend %body-font;
		font-weight: 300;
	}
}


.page__about{
	@extend %body-font;
	@extend %display-flex;
	@extend %flex-center-all;
	position: relative;
	min-height: calc( 100vh - 110px );
	color: $white;
}


.about{

	// For the title of the about page
	// This is at the top of the container

	&__title{
		position: relative;
		padding-bottom: 32px;

		// For the sizing of the h1

		h1{
			@extend %header-font;
			font-size: $thirty;
		}
	}

	&__contain{
		position: relative;
		max-width: 900px;
		width: 90%;
		z-index: 10;

		p{
			line-height: 1.75;
		}
	}

	&__bg{
		@extend %display-flex;
		@extend %flex-center-all;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		opacity: 0.1;
		z-index: 0;

		&--content{
			@extend %display-flex;
			@extend %flex-center-all;
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;

			video{
				min-height: 100%;
				width: 150%;
			}
		}
	}
}














