@import '../variables/variables';

// For the global syling of the a links throughout the site

a, button{
	@extend %font-roman;
	@extend %speed-3ms;
	@extend %display-inline-flex;
	@extend %flex-center-vertical;
	position: relative;
	color: $blue;
	text-decoration: none;
	cursor: pointer;

	// For disabled links and buttons

	&[disabled]{
	    pointer-events: none;
	    color: $gray !important;

	    .btn{
	        background: $disabled-gray !important;
	        color: inherit;
	    }
	}
}

// Global styling of the buttons - Defualt when using the <button> tag
// Different button styles

button{
    background: none;
    line-height: 1;
}

// Employee Tag

.tag{
	@extend %display-flex;
	@extend %flex-center-all;
	position: relative;
	margin-top: 12px;
	padding: 8px 16px;
	border-radius: 20px;
	background: $neutral;
	color: $light-blue;

	span:not(:last-child){
		margin-right: 4px;
	}

	// For the different colors of the tag

	&__red{
		color: $red;
	}
}


