
@import '../variables/variables';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

// For the default styling of typography semantics
// Default paragraph styling

p{
	font-size: $eighteen; 
	line-height: 1.78; 

	&:not(:last-child){
		margin-bottom: 20px;
	}
}

// Bold styling draws on Helvetica Heavy

strong{ 
	@extend %font-bold; 
}

// Text Colors

.text{
	&__white 	  { color: $white; 	    }
	&__red	 	  { color: $red;   	    }
	&__blue  	  { color: $blue;  	    }
	&__tint-blue  { color: $tint-blue;  }
	&__dark-blue  { color: $dark-blue;  }
}

// Default placeholder text
// This is used in places such as the placeholder text for the forms

::-webkit-input-placeholder { color: $disabled-gray; }
	 :-ms-input-placeholder { color: $disabled-gray; }
	     ::-moz-placeholder { color: $disabled-gray; }
		  :-moz-placeholder { color: $disabled-gray; }
