	
// These are varibales that we use for animations. 
// These are shared to reduce the amount of css lines added through pre-fixers 
// As well as keeping consistancy within animation rules

$speed-3ms: 300ms;

// Animation timing

	%speed-0ms	{ transition: 0ms;    }
	%speed-3ms	{ transition: $speed-3ms;  }
	%speed-6ms	{ transition: 600ms;  }
	%speed-1s	{ transition: 1000ms; }

// Animation easing

	%cubic{ transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1); }

// Shared animations
// Basic vertical animations

	%set-vertical-animation{ transform: translateY(101%); }
	%set-vertical-animation-mid{ transform: translateY(50%); }
	%set-vertical-animation-subtle{ transform: translateY(25%); }
	%show-vertical-animation{ transform: translateY(0px); }