
$font: 'Source Sans Pro', sans-serif;

%font-light  		{ font-family: $font; font-weight: 300; }
%font-light-italic  { font-family: $font; font-weight: 300; }
%font-roman  		{ font-family: $font; font-weight: 400; }
%font-italic 		{ font-family: $font; font-weight: 400; }
%font-bold   		{ font-family: $font; font-weight: 700; }
