
@import "./src/global-css/variables/variables";

// For the styling of the next project component
// This is located on the bottom of each project page, as a button to go to the next project
// Instead of having to click the work link

.project__next{
	position: relative;
	width: 100%;
	margin-top: 100px;
	color: $white;
	text-align: center;
	overflow: hidden;

	// Make the link container go full width

	a{
		@extend %display-flex;
		@extend %flex-center-all;
		width: 100%;
		margin: 0 auto;
		background: rgba( #000, 0.2 );
	}

	// For the text in the foreground of the container

	&--text{
		position: relative;
		width: 90%;
		margin: 0 auto;
		padding: 100px 0;
		font-size: $thirty;
		line-height: 1.3;
		z-index: 10;

		> div:first-child{
			margin-bottom: 12px;
			font-size: $sixteen;
		}
	}

	// For the styling of the background image, behind the text

	&--bg{
		@extend %speed-3ms;
		@extend %display-flex;
		@extend %flex-center-all;
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.1;
		z-index: 0;

		// For the image size within the container

		img{
			@extend %display-flex;
			position: absolute;
		    min-width: 100%;
		    max-width: 100%;
		    width: auto;
		}
	}

	// Amimations shown on hover

	&:hover{

		// Make the background image bigger

		.project__next--bg{
			transform: scale( 1.05 );
		}
	}
}
