
@import "../../scss/variables/variables";

// For the global styling of the accordions

.wag__comps .accordion{
	position: relative;
	border-top: 1px solid #e1e1e1;

	// For the first level li, one level down of the master container

	> li{
		width: 100%;
		border-bottom: 1px solid #e1e1e1;

		&:not(:last-child){
			margin-right: 0;
		}

		// When a bar is clicked and selected

		.selected{
			color: $black;

			// Rotate the arrow on the right to show that it is pointed up

			&:after{
				transform: rotateX(-180deg);
			}
		}
	}

	// For the title container of the accordion

	.title__master {
    	@extend %speed-3ms;
    	position: relative;
		width: 100%;
		padding: 16px 50px 16px 0px;
		line-height: 1.3;
		text-align: left;

		// For the arrow icon on the right of the accordian

		.icon{
			@extend %speed-3ms;
			position: absolute;
			right: 10px;
			min-width: 13px;
			width: 13px;
			height: 13px;
		}

		// When the accordion title is clicked, expand and the show the content in it

		&[aria-expanded="true"]{

			// Change the color of the title to be black to show that it is active

			a{
				color: $black;
			}

			// Rotate the arrow on the right to show clicking again will collapse

			.icon{
				transform: rotate(180deg);
			}
		}
	}

	// For the styling of toggle classes that need the arrow on the right to show that it is clickable

	.toggle, .no-toggle{
		@extend %display-flex-space-between;
		@extend %flex-center-vertical;
	}

	// By default display the accordion content as hidden

	.inner{ 
		overflow: hidden;
		will-change: height;
		transition: height 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);

		// For the master div container

		> div{
			padding: 5px 0 15px;
		}
	}

	// Spacing for the content within the accordion

	p{ 
		max-width: 800px;
		padding: 5px 15px 15px 0px; 
		font-size: $sixteen;
	}
}
