
@import "../../scss/variables/variables";

// For the styling of the header
// This is a universal component - it is on the top of every page with the site menu, search, account and cart

.content__walgreens .header{
	@extend %speed-3ms;
	@extend %display-flex;
	@extend %flex-center-all;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $dark-blue;
	z-index: 9900;

	&__side{
		@extend %display-flex;
		@extend %flex-center-vertical;
		position: relative;

		.logo__mark{
			width: 50px;
			margin-right: 4px;
		}

		button{
			color: $white;
		}

		.btn__account{
			padding: 12px 16px;
			background: $dark-blue;
			border-radius: 50px;

			&:hover{
				background: $tint-blue;
				color: $dark-blue;
			}
		}

		.icon__arrow-down{
			@extend %speed-0ms;
			min-width: 10px;
			min-height: 12px;
			margin: 2px 0 0 8px;
		}

		.icon__cart{
			min-width: 24px;
    		width: 16px;
    		color: $white;
		}

		.btn__circle:hover .icon{
			color: $dark-blue;
		}
	}

	// When the user scrolls, the header changes to become smaller

	&--hidden{
		transform: translateY(-101%);
	}

	nav{
		@extend %display-flex-space-between;
		@extend %flex-center-vertical;
		position: relative;
		max-width: 1300px;
		width: 90%;
		padding: 12px 0;
	}

	form{
		width: 50%;

		&:not(:last-child){
			margin-bottom: 0;
		}
	}

	.input__wrap:not(:last-child){
		margin-bottom: 0;
	}

	.search{

		.icon{
			min-width: 24px;
    		width: 24px;
    		height: 24px;

    		&__search{
    			min-width: 20px;
    			width: 20px;
    			height: 20px;
    		}
		}

		.input__contain{
			border-radius: 60px;
			min-height: 40px;
			border: none;
		}

		&__input--controls{
			margin-right: 12px;
		}


		.btn__circle{
			height: 36px;
			width: 36px;
		}

		&__input--btn{

			&:not(:last-child){
				margin-right: 0px;
				padding-right: 0px;
				
				// For the border line

				&:before{
					display: none;
				}
			}
		}

		input[type="text"] {
		    padding: 12px 24px;
		}
	}
}
