
@import "./assets/scss/variables/variables";

// For the styling of the iPad

.ipad__contain{
	@extend %display-flex;
	@extend %flex-center-all;
	position: relative;
	width: 100%;
	perspective: 1000px;
}

.ipad{
	@extend %display-flex;
	@extend %flex-center-all;
	@extend %header-font;
	position: relative;
	width: 745px;
	height: 568px;
	background: #000;
	border: 1px solid rgba($white, 0.2);
	border-radius: 25px;
	// transform: skew( 35deg, 0deg ) rotateY(40deg);
	transform: perspective(0px) rotateX(0deg);

	// For the scree no the ipad, in the center of the container

	&__screen{
		position: relative;
		width: 96%;
		height: 94%;
		background: #000;
		border-radius: 10px;
		overflow: hidden;
	}

	&__side{
		position: absolute;
		left: -50px;
		top: 0;
		width: 40px;
		height: 100%;
		background: #000;
		border-radius: 20px 0 0 20px;
	}
}
