
@import "./src/global-css/variables/variables";

// For the styling fo the microphone icon

.icon__mic{
	min-width: 24px;
	width: 24px;
	min-height: 39px;
	height: 39px;

	// For the top container of the microphone
	// This contains the speaker and the border circle at the bottom of the container

	&-top{
		@extend %display-flex;
		@extend %flex-center-horizontal;
		width: 100%;
		position: relative;
		height: 31px;

		// For the speaker in the middle of the div

		&:before{
			content: ' ';
			position: absolute;
			top: 0px;
			width: 14px;
			height: 26px;
			background: $black;
			border-radius: 25px;
		}

		// For the border lines around the bottom half of the speaker

		span{
			position: absolute;
			bottom: 0px;
			height: 14px;
			width: 100%;
			overflow: hidden;

			// For the border

			&:before{
				content: ' ';
				position: absolute;
				bottom: 0px;
				width: 100%;
				height: calc(100% + 2px);
				border-radius: 0px 0px 50% 50%;
				border: 2px solid $black;
			}
		}
	}

	// For the bottom container of the microphone
	// this contains the stand - middle line and bottom line

	&-bottom{
		@extend %display-flex;
		@extend %flex-center-horizontal;
		position: relative;
		width: 100%;
		height: 8px;

		// For the line that connects the speaker to the stand

		&:before{
			content: ' ';
			position: absolute;
			width: 2px;
			height: 100%;
			background: $black;
		}

		// For the stand on the bottom of the icon

		&:after{
			content: ' ';
			position: absolute;
			bottom: 0px;
			width: 10px;
			height: 2px;
			border-radius: 2px;
			background: $black;
		}
	}

	// To change the color of the icon from white to black, use this class

	&.icon__white{

		.icon__mic-top{

			&:before{ background: $white; }
			span:before{ border-color: $white; }
		}

		.icon__mic-bottom{

			&:before, &:after{
				background: $white;
			}
		}
	}
}

// Changing the icon to be smaller

.btn__icon-sm{
	@extend %display-flex;
	@extend %flex-center-all;
	width: 26px;
	height: 26px;
	min-width: 26px;
	min-height: 26px;
	background: #808080;
	border-radius: 50%;

	// Change the sizing of the icon in the container

	.icon{
		transform: scale(0.4);
	}
}
