
@import "./assets/scss/variables/variables";

// For the styling of the ribbons
// These are typically divider content, especially present on the homepage

.ribbon{
	@extend %display-flex-wrap;
	@extend %flex-center-horizontal;
	position: relative;
	width: 100%;
	font-size: $eighteen;
	line-height: 1.2;

	// For the text that is always present in the ribbon
	// This is agnostic of a Link Cta to the right of the text

	&__text{
		@extend %display-flex-wrap;
		@extend %flex-center-all;
		font-size: $twenty-two;
		text-align: center;
		line-height: 1.4;

		// If there is a link cta to the right of the text, we need to add the conditional spacing

		.link__cta{
			margin-left: 4px;
		}

		@media(max-width: $tablet){
			font-size: $eighteen;
		}
	}	

	// For the icon that would be to the left of the text, at the beginning of the container

	&__icon{
		@extend %display-flex;
		@extend %flex-center-all;
		position: relative;
		width: 60px;
		height: 60px;
		margin-right: 20px;
		border-radius: 50%;

		.icon, img{
			min-width: 40px;
			width: 40px;
		}

		// For the colors supported for the background of the icons or images

		&--tint-blue{
			background: $tint-blue;
		}
	}

	// For the container of the icon links below the title of the ribbon
	// This is conditional and is not always present

	&__icons{
		@extend %display-flex-wrap;
		@extend %flex-center-all;
		position: relative;
		width: 100%;
		margin-top: 20px;

		.icon{
			width: 100%;
			height: 50px;
			color: $red;
			margin-bottom: 16px;
		}

		a{
			@extend %display-flex-wrap;
			@extend %flex-center-horizontal;
			width: 180px;
			padding: 32px 16px;
			text-align: center;
			border-radius: $border-radius-alt;

			&:hover{
				background: $neutral;

				.icon{
					transform: translateY(-5px);
				}
			}
		}
	}
}
