
@import "./src/global-css/variables/variables";

// This is special styling for the cardiact page
// These have simple changes such as color changes to make the branding of the project

.page__cardiact{

	// For the hero background color to be red, within the CardiAct project

	.project__hero{
		background: #a22a2b !important;

		// For the circular background in the hero seciton
		// This is the curve that sits in the background of the hero

		&:before{
			transform: translate3d(0, -597px, 0);
			content: ' ';
			position: absolute;
			top: 0;
			width: 2460px;
			height: 1440px;
			background: $white;
			border-radius: 0 0 0 100%;
		}

		// Remove the default slant in the background
		// This is because it is replaced by the curved background

		&:after{
			display: none;
		}
	}

	// For the color of the intro section to be red

	.project__hero:after, .project__info{
		background: #a22a2b;
	}

	// For the color of the slant on top of a white <section> tag

	.project__stage--white:before{
		background: #a22a2b;
	}

	// For the color of the slant on top of a gray <section> tag

	.project__stage--gray:before{
		background: $white;
	}
}
