
@import "../../scss/variables/variables";

// For the styling of the coupon button
// This is a small version of the coupons and typically lives inside of cards

.content__walgreens .coupon__btn{
	@extend %display-inline-flex;
	@extend %flex-center-vertical;
	position: relative;
	padding: 12px 28px 12px 12px;
	cursor: pointer;
	border: 2px dashed $tint-blue;
	border-radius: $border-radius;
	overflow: hidden;

	// For the tint blue that animates in from the left once the button is clicked

	&:before{
		@extend %speed-6ms;
		@extend %cubic;
		content: ' ';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($tint-blue, 0.2);
		z-index: 0;
		transform: translateX(-100%);
	}

	// For the large button with text more than "Clip"
	// We need to make this go full width on mobile breakpoints

	&--lg{

		@media(max-width: $mobile){
			width: 100%;
		}
	}

	// For the styling of the text on the right side of the container

	&--text{
		position: relative;
		margin-left: 12px;
		line-height: 1.2;
		text-align: left;
		z-index: 1;

		> div:not(:first-child){
			color: $type-gray;
		}	

		&:first-letter{
			text-transform: capitalize;
		}
	}

	// For the text ofthe deal that will animate in once the button is clicked
	// This is to tell the user that the coupon has been clipped

	&--deal span span{
		@extend %speed-3ms;
		display: inline-block;
		opacity: 0;
		transform: translateX(-10px);
	}

	// When the coupon is clipped, we need to change the background to the tint blue

	&[aria-pressed="true"]{
		cursor: initial;

		// Shared styling to set the animation to base level
		// Animate the tint blue background and the text in from the left

		&:before, .coupon__btn--deal span span{
			transform: translateX(0px);
		}

		.coupon__btn--deal span span{
			transition-delay: 300ms;
			opacity: 1;
		}
	}
}

// For the animation of the bounce as a variable

@keyframes animateCoupon {
    0%   { transform: scale(1);    }
    20%  { transform: scale(0.5);  }
    60%  { transform: scale(1.15); }
    80%  { transform: scale(0.95); }
    100% { transform: scale(1);    }
}

// For the animation of the icon that is within a button that is clicked
// This is a variation currently only on the smaller coupons - but making this to scale if need be

.icon__bounce{
	@extend %display-flex;
	@extend %flex-center-all;
	position: relative;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	border: 2px solid $dark-blue;
	color: $dark-blue;

	// For the icons that live inside of the bounce container

	.icon{
		position: absolute;
		min-width: 15px;
		width: 15px;
		height: 15px;
		z-index: 1;
		transition: 0ms;

		// Hide the last icon

		&:last-child{
			opacity: 0;
		}
	}

	// When the button is is clicked, change the to fill in the icon

	&--active{
		background: $dark-blue;
		color: $white;
		animation: animateCoupon 600ms forwards;

		// Remove the first icon

		.icon:first-child{
			opacity: 0;
		}

		// Show the last icon

		.icon:last-child{
			transition-delay: 300ms;
			opacity: 1;
		}
	}
}
