
@import "./src/global-css/variables/variables";

// For the styling of the hero within the TAA project
// This is different than the other heros, with a background video and text that is overlayed

.hero__taa{
	@extend %display-flex;
	@extend %flex-center-horizontal;
	position: relative;
	width: 100%;

	// For the main content in the hero section
	// This is for the logo, text, and icons that site above the hero video

	&--content{
		@extend %display-flex;
		@extend %flex-center-all;
		flex-direction: column;
		position: relative;
		z-index: 1;
	}

	// For the container of the logo and the title, on the top of the container
	// Right above the idecorative icons

	&--title{
		@extend %display-flex-wrap;
		@extend %flex-center-all;
		flex-direction: column;
		position: relative;
		padding-bottom: 32px;
	}

	// For the container of the logo on top of the container

	&--logo{
		position: relative;
		width: 100px;
	}

	// For the decorative icons below the title and the logo

	&--deco{
		@extend %display-flex-space-between;
		@extend %flex-center-vertical;
		position: relative;
		width: 150px;

		// For the container of the icons

		> div{
			@extend %display-flex;
			@extend %flex-center-all;
			height: 30px;
			width: 30px;
			opacity: 0.5;

			// For the size of the images within the div container

			img{
				min-height: 100%;
				max-height: 100%;
			}
		}
	}

	// Position of the background video

	&--bg{
		@extend %display-flex;
		@extend %flex-center-all;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		z-index: 0;
		opacity: 0.02;

		// For the black gradient on the top and bottom of the container
		// This bleeds the background into the hero video

		&:before, &:after{
			content: ' ';
			position: absolute;
			width: 100%;
			height: 200px;
			z-index: 1;
		}

		// For the gradient on the top of the container

		&:before{
			top: 0;
			background: rgb(0,0,0);
			background: linear-gradient(180deg, rgba( #1e1e1e, 1 ) 0%, rgba( #1e1e1e, 0 ) 100%);
		}

		// For the gradient on the bottom of the container

		&:after{
			bottom: 0;
			background: rgb(0,0,0);
			background: linear-gradient(0deg, rgba( #1e1e1e, 1 ) 0%, rgba( #1e1e1e, 0 ) 100%);
		}
	}
}

// For the decorative lines that run through the full height of the page
// This is within the center of the page

.taa__deco{
	position: absolute;
	top: -25%;
	left: 0;
	width: 100%;
	height: 150%;

	// For the container of the lines

	ul{
		@extend %display-flex;
		position: relative;
		width: 100%;
		height: 100%;
	}

	// For the styling of the lines

	li{
		position: relative;
		width: 12.5%;
		height: 100%;

		// Add the line to the right side of the container except for the last container

		&:not(:last-child){
			border-right: 1px solid rgba( $white, 0.03 );
		}
	}
}
