
@import "./src/global-css/variables/variables";

// For the general styling of the page content
// This is the master container of the page and all of the blocks that can be used throughout the pages

.page{
	position: relative;
	width: 100vw;
	padding-bottom: 100px;
	overflow: hidden;

	// For the header on the top of the page
	// This contains the page title, short description, and roles of the project

	&__header{
		position: relative;
		margin: 30px 0 80px;
		text-align: center;
		color: $light-gray;
		line-height: 1.5;

		// For the spacing between each of the items within the header

		> div{

			// For the spacing between the image and the titke of the page

			&:not(:last-child){
				margin-bottom: 12px;
			}

			// Spacing between the title and the subtitle 

			&:first-child{
				margin-bottom: 24px;
			}

			// If there is a button on the bottom of the container
			// This would be an outside link if there is more the view about the project

			&.intro__btn{
				padding-top: 20px;
			}
		}

		// For the container of the image or illustration on the top of the container

		&--illus{
			@extend %display-flex;
			@extend %flex-center-all;
			width: 140px;
			height: 170px;
			margin: 0 auto;

			// Reduce the scale of the image or illustration

			.illus__animation{
				transform: scale( 0.3 );
			}
		}

		// For the font styling of the main title of the page
		// This the text right below the hero image, illustration, or animation

		h1{
			font-size: $fifty;
			color: $white;

			// Change the font size on mobile breakpoints

			@media( max-width: $mobile ){
				font-size: $thirty;
			}
		}

		// For the font size of the subtitle - below the main title of the page

		h2{ 
			font-size: $eighteen; 

			// Change the font size on mobile breakpoints

			@media( max-width: $mobile ){
				font-size: $sixteen;
			}
		}

		// For changes to the spacing on mobile breakpoints

		@media ( max-width: $mobile ){
			width: 90%;
			margin: 30px auto 32px;
			line-height: 1.3
		}
	}

	// For the container of each section within the page
	// This needs to be parsed out for instanced that are full width vs contained
	
	.page__block{
		position: relative;
		max-width: 1170px;
		width: 90%;
		margin: 0 auto;
		z-index: 1;

		// Remove the default padding on the last page block within a page

		&:last-child .page__block--content{
			padding-bottom: 50px;

			// Remove the padding on the bottom on mobile breakpoints

			@media( max-width: $mobile ){
				padding-bottom: 0;
			}
		}

		// For the condition if the page block needs to go full width
		// This is needed to support blacks that have a custom background color

		&--full{
			width: 100%;
			max-width: 100% !important;
		}

		// For the master container of all of the content that lives in Page Block

		&--content{
			position: relative;
			z-index: 1;
		}

		// If the content in the container needs to be displayed side-by-side

		&--inline{
			@extend %display-flex;
			@extend %flex-center-vertical;
		}

		// For the spacing allowed within the blocks
			
		&--sp-large{
			padding: 150px 0;

			// Change the spacing on mobile breakpoints

			@media( max-width: $mobile ){
				padding: 50px 0;
			}
		}

		// Set the font size of the text within the container

		p{ font-size: $eighteen; }

		// This is seldom used but spported if text is needed to explain the content in the block
		// This is used in places such as the process page in the CardiAct project

		&--descp{ 
			position: relative;
			max-width: 1000px;
			padding-bottom: 32px;
		}

		// If there is a title with the block - this is the first div within the descp container

		&--title{
			font-size: $thirty;

			// Spacing between the title and the text
			// This is conditional so if there is no text below the title, the spacing won't be observed

			& + div{
				margin-top: 24px;
			}
		}

		// For the special case where we need a solid background to communicate an asset better
		// This will remove the distraction of the tv static background
		// An example of this is the icon section on the Walgreens LSG project page

		&--slant{
			@extend %display-flex;
			@extend %flex-center-horizontal;
			max-width: 100%;
			width: 100%;
			margin: 205px 0;
			padding: 100px 0;
			z-index: 0;

			// For the slants on the top and bottom of the container

			&:before, &:after{
				content: ' ';
				position: absolute;
				width: 150%;
				background: inherit;
				height: 500px;
				z-index: 0;
			}

			// For the slant on the top of the container

			&:before{
				top: -100px;
				transform: rotate( -8deg );
			}

			// For the slant on the bottom of the container

			&:after{
				bottom: -100px;
				transform: rotate( -8deg );
			}

			// Changes to the with and alignment of the main content within the slant
			// This is because the slant goes full width of the container

			.page__block--content{
				max-width: 1170px;
				margin: 0 auto;
			}
		}

		// For the possible colors of the background
		// For dark blue color support

		&--dark-blue{ background: #1a202b; }

		// For white color support

		&--white{ background: $white; }
	}
}
