
@import "./assets/scss/variables/variables";

// For the styling of the price section
// This has the $ and the cents as a sup, while the dollar is large

.product__price{
	@extend %display-flex;
	align-items: flex-start;
	position: relative;
	font-size: $thirty;
	line-height: 0.7;

	// For the container of the price
	// This is because there could be more that just the price such as employee pricing, deals, price,per ounze

	&--contain{
		@extend %display-flex;
		@extend %flex-center-vertical;
	}

	// Smaller text align to the top of the main number

	sup{
		margin-top: 3px;
		font-size: 20px;
	}

	// For the text on the right of the container

	&--breakdown{
		margin-left: 12px;
		font-size: $fourteen;
	}

	// For the deal below the price

	&--deal{
		font-size: $fourteen;
		color: $red;
		margin-top: 4px;
	}

	// For the styling of a large font size - currently at 50px

	&--large{
		font-size: $fifty;

		// Change the spacing of the dollar sign and cents for porportion

		sup{
			margin-top: 4px;
			font-size: 24px;

			// For the spacing of the cents to be a little further out that the dollar sign

			&:last-child{
				margin-left: 2px;
			}
		}
	}

	// For the styling of a large font size - currently at 18px

	&--small{
		font-size: $eighteen;
		line-height: 1;

		// Change the spacing of the dollar sign and cents for porportion

		sup{
			margin-top: 0px;
			font-size: $eighteen;
		}
	}

	// For red pices

	&--red{
		color: $red;
	}
}

// For the container where are there are multiple prices
// We need to display these as inline - this is an optional part component

.price__inline{
	@extend %display-flex;
	@extend %flex-center-vertical;

	// For the spacing of each top level div, except for the last div

	> div:not(:last-child){
		margin-right: 8px;
	}
}
