
@import "./assets/scss/variables/variables";

// For the styling of the search input
// This has the text on the left, controls on the right and dropdown that shows up on the bottom when typing

.search{

	// Change the padding of the search input for the text to always be centered
	// We are removing the space for the label

	input[type="text"]{
		padding: 20px 15px;

		// For the placeholder text within the search input
		// We need to override the default styling by showing the placeholder text on default

		&::-webkit-input-placeholder { opacity: 1; }
		&::-moz-placeholder 		 { opacity: 1; }
		&:-ms-input-placeholder 	 { opacity: 1; }
		&:-moz-placeholder 			 { opacity: 1; }
	}

	// For the container of the buttons on the right side of the search input
	// This has the remove text button and the search button

	&__input--controls{
		@extend %display-flex;
		@extend %flex-center-vertical;
		position: relative;
		margin-right: 8px;

		// Change the default size of the icons to be larger

		.btn .icon{
	        min-width: 25px;
	        width: 25px;
	        height: 25px;

	        &__search{
	        	min-width: 22px;
	       		width: 22px;
	        	height: 22px;
	        }
	    }
	}

	// Remove the default padding on buttons within input fields

	&__input--btn{
		@extend %display-flex;
		@extend %flex-center-vertical;
		position: relative;

		button[disabled] .btn{
			background: none !important;
		}

		// For the border and spacing for the search button on the left side of the container

		&:not(:last-child){
			margin-right: 8px;
			padding-right: 8px;
			
			// For the border line

			&:before{
				content: ' ';
				position: absolute;
				right: 0;
				width: 1px;
				height: 80%;
				background: $disabled-gray;
			}
		}
	}

	// Remove the default padding of the buttons

	.input__contain .btn__wrap{
		padding: 0;
	}

	// For the styling of the results on the bottom of the search container
	// These are the search results that show up once the user starts typing

	&__results{
		display: none;
		position: absolute;
		top: 64px;
		left: 0;
		width: 100%;
		padding: 20px 16px;
		background: $white;
		border-radius: $border-radius;
		box-shadow: 0 2px 10px rgba(0,0,0,0.1);
		z-index: 100;

		// Show the results dropdown when the user starts typing into the search input
		// This is an optional feature

		&--show{
			display: block;
		}

		// Remove the default padding of the links within the dropdown

		.list__vertical li{
			padding: 0;
		}
	}
}
