
@import "../../scss/variables/variables";

// For the master container of the forms within 

.wag__comps form{
	position: relative;
	width: 100%;
	max-width: 800px;

	// If there are more than one forms within a container
	// This most likely won't happen, this is just in case and more for presentation in the LSG

	&:not(:last-child){
		margin-bottom: 32px;
	}

	// Change the default styling of the line height for the legend

	legend{
		line-height: 1;
	}

	// For the color of the placeholder text

	input, textarea{
		font-family: inherit;

		// To address the placeholder in Safari

		&::-webkit-input-placeholder { 
			color: $gray; 
			opacity: 0;
			transition: $speed-3ms; 
		}

		// To address the placeholder in Firefox

		&::-moz-placeholder { 
			color: $gray; 
			opacity: 0;
			transition: $speed-3ms; 
		}

		// To address the placeholder in IE and Edge

		&:-ms-input-placeholder { 
			color: $gray; 
			opacity: 0;
			transition: $speed-3ms; 
		}
	}
}

// For the master container of the input fields
// This master container is needed to be able to hold the input and help text on the bottom of the container
// Such as text help descriptions, and if there is an alert needed if text in input is not valid

.wag__comps .input__wrap{
	position: relative;
	width: 100%;
	
	// For the default spacing between inputs

	&:not(:last-child){
		margin-bottom: 16px;
	}
}

// For the container of the input, containing the label, input and any content needed to the right of the input

.wag__comps .input__content{
	@extend %display-flex;
	@extend %flex-center-vertical;

	// If there is a tooltip to the right of the container

	.tooltip__contain{
		margin-left: 8px;
	}
}

// For the shared styling of all the inputs within the form container
// This is located in the form component so we don't have to rewrite css for input and select form fields
// And comes automated within a parent form component

.wag__comps .input__contain{
	@extend %speed-3ms;
	@extend %display-flex;
	@extend %flex-center-vertical;
	position: relative;
	width: 100%;
	min-height: 60px;
	background: $white;
	border: 1px solid $stroke;
	border-radius: $border-radius;

	// Change the color of the outline on focus
	// This allows us to remove the color oon Focus Out, returning to the black border

	&:focus-within{
		border-color: $blue;

		input::-webkit-input-placeholder { opacity: 1; }
		input::-moz-placeholder { opacity: 1; }
		input:-ms-input-placeholder { opacity: 1; }
		input:-moz-placeholder { opacity: 1; }
	}

	// For the container of the label and input

	> div{
		@extend %display-flex;
		@extend %flex-center-vertical;
		position: relative;
		width: 100%;
	}

	// For the half width inputs - these to be used for afforance, where we know the max amount of content
	// Such as phone numbers and ZIPcodes

	&--small{
		width: 50%;
	}

	// For the label of the form field
	// This animates up when a user focuses into the form field

	label{
		@extend %speed-3ms;
		position: absolute;
		left: 0;
		width: 100%;
		padding: 0 16px;
		transform-origin: top left;
		pointer-events: none;
		line-height: 1;
		white-space: nowrap;
		z-index: 10;
	}

	// For the input container - where the text is entered into
	// This also is visually the box that contains all the content

	input, select{
		@extend %speed-3ms;
		@extend %font-bold;
		line-height: 1;
		position: relative;
		width: 100%;
		font-weight: 900;
		padding: 29px 16px 10px;
		border: none;
		border-radius: $border-radius;
		background: none;
		font-size: $sixteen;
		outline: none;
		-webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	}

	// For items on the right side of the input
	// If there is a button on the right side of the input

	.btn__wrap{
		padding: 0 8px;

		// Allow the button on the right to be smaller than the default buttom
		// Removes the min width

		.btn{
			min-width: auto;
		}
	}

	// If there is a dropdown icon needed on the right of the container
	// For example, used with the select input dropdown field

	.icon__arrow-down{
		position: absolute;
		right: 0;
		min-width: 15px;
		margin: 0 20px;
	}

	// If there is a calendar icon on the right side of the container
	// This is used within the date picker input

	.icon__calendar{
		position: absolute;
		right: 0;
		color: $blue;
		margin: 0 12px;
		min-width: 28px;
		min-height: 28px;
		pointer-events: none;
	}

	// When the input is focused, we animate the label up

	&--active label{
		transform: translate3d(3px, -10px, 0) scale(0.8);
	}

	// On mobile breakpoints the form fields go full width

	@media(max-width: $mobile){

		width: 100%;
	}
}

// For the styling of a description, below the input container
// This section is optional, usually a input field won't contain this

.wag__comps .input__descp{
	padding-top: 8px;
	font-size: $fourteen;

	// For the spacing between the items

	&--item:not(:first-child){
		margin-top: 4px;
	}
}

// Remove browser defaults
// Number Spinner

	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
	  -webkit-appearance: none; 
	  margin: 0; 
	}

	input[type=number] {
	    -moz-appearance:textfield; /* Firefox */
	}
