
@import "../../scss/variables/variables";

// For the styling of the carousels
// This usually contains product cards and coupon cards

.content__walgreens .carousel__wrap{
	position: relative;
	overflow: hidden;
	z-index: 1;
}

// For the styling of all the content within the slider

.content__walgreens .slick{

	// For the master container of the slider
	// This contains the content, as well as the previous and next buttons on the left and right of the container

	&-slider{
		position: relative;
		padding: 16px 4px;

		// Shared styling for the bottons on the left and right of the container
		// For the previous and next buttons

		.btn__wrap{		
			position: absolute;
			top: 0;
			height: 100%;
			z-index: 9999;

			// For the container of the buttons

			button{
				@extend %display-flex;
				@extend %flex-center-vertical;
				height: 100%;
				padding: 0 10px;
				background: $white;
			}

			// For the next button on the right of the container
			// This is for the placement and putting the border on the left side of the container

			&:last-child{
				right: 0;

				button{
					border-left: $gray-border;
				}
			}

			// For the previous button on the left side of the container
			// This is for the placement and putting the botder on the right side of the container

			&:first-child{
				left: 0;

				button{
					border-right: $gray-border;
				}
			}
		}
	}

	// For the container of the content that is movable, based on clicking the prev and next buttons

	&-track{
		@extend %display-flex;
	}

	// For the spacing between each item in the slider, excpet for the last item in the list

	&-slide:not(:last-child){
		margin-right: 12px;
	}

	// We need to remove the visibility if the button if the user is at the beginning or end of the list
	// This shows up depending on the ability if the user is allowed to go forward or backwards

	&-disabled{ display: none !important; }
}
