
// For the container of the map screen within the Emergency section of the app
// This is different because we need to make this full width and height of the container
// So this wouldn't share the global container

.cardiact__map{
	position: relative;
	height: calc(100% - 121px);
}

// Shared styling for the routes
// Shared styling between all three routes

.route{
	position: absolute;
	background: #5591f5;
	border-radius: 10px;

	// For the route lines on the top and bottom of the container

	&__top, &__bottom{
		height: 5px;
		width: 100%;
	}

	// For the route lines on the left and the right of the container

	&__left, &__right{
		width: 5px;
	}

	// Placement of the route line on the left of the container

	&__left{ left: 0px; }

	// Placement of the route line on the right of the container

	&__right{ right: 0px; }

	// Placement of the route line on the top of the container

	&__top{ top: 0px; }

	// Placement of the route line on the bottom of the container

	&__bottom{ bottom: 0px; }

	// For the styling of the repsonders

	&__responder{
		@extend %display-flex;
		@extend %flex-center-all;
		position: absolute;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		border: 2px solid $white;
		box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
		overflow: hidden;
		z-index: 12;

		img{
			min-height: 100%;
			width: auto;
			max-width: 100%;
		}
	}
}
