
@import "./assets/scss/variables/variables";

// For the styling of the show more
// This is used to truncate text or information that is either not as important or needed to save space

.show__more{
	position: relative;
	overflow: hidden;

	// Add some spacing to the bottom of the content 
	// This prevents items like text being cut off from the container

	&--content{
		padding-bottom: 12px;
	}

	// For the container of the button on the bottom of the container

	&--btn{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 12px 0;
		background: $white;

		// For spacing changes on mobile

		@media(max-width: $mobile){
			padding: 16px 0;
		}
	}

	// For the button on the buttom of the show more
	// This is clicked to show the rest of the content

	.btn__more{
		@extend %display-flex;
		@extend %flex-center-vertical;
		height: 44px;
		margin: 1px;
		padding: 0 16px;
		border-radius: $border-radius;
		background: $neutral;

		// For the arrow icon on the right of the container

		.icon{
			margin-left: 8px;
			min-height: 16px;
			height: 8px;
		}

		// Align the button to the center of the container on mobile

		@media(max-width: $mobile){
			margin: 0 auto;
		}
	}

	// When the Show More button is clicked, show all the content

	&--expanded{
		height: auto !important;

		// Animate the arrow icon to show the affordance to collapse

		.icon{
			transform: rotate(180deg);
		}
	}
}
