
@import "../../scss/variables/variables";

// For the styling of the flag component
// This is usually on the top right corner of a product card

.content__walgreens .flag{
	@extend %display-flex;
	@extend %flex-center-vertical;
	position: relative;
	color: $white;
	line-height: 1.2;

	// Shared styling for the text within the center of the flags

	.flag__text{
		position: relative;
		z-index: 1;
	}

	// For the blue flags, that are more rounded

	&__v1{
		@extend %display-flex;
		@extend %flex-center-all;
		width: 80px;
		height: 80px;

		// For the curved circle

		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background: $blue;
			z-index: 0;
		}

		// For the container of the text within the flag component

		.flag__text{
			text-align: center;

			// For the text within the container

			div{
				font-size: $eighteen;

				// This is for the title, so-to-speak, is smaller than the text below
				// For heirarchy purposes

				&:not(:last-child){
					font-size: 12px;
				}
			}
		}
	}

	// For the styling of the triangle corner flag
	// This is typically on the top right of a card

	&__v2{
		width: 70px;
		height: 70px;

		// For the triangle within the container

		&:before{
			content: '';
			position: absolute;
			top: -40px;
			right: -9px;
			width: 0; 
			height: 0; 
			border-top: 60px solid transparent;
			border-bottom: 60px solid transparent; 
			border-right: 60px solid $green; 
			transform: rotate(135deg);
		}

		// For the spacing needed for the text to be in the center of the container

		.flag__text{
			margin: 0 0 20px 28px;
		}
	}	
}
